table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #bbbbbb;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .row-success {
    background-color: green;
    color: white;
    animation: fadeOut 3s forwards;
  }
  
  .row-error {
    background-color: red;
    color: white;
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .row-fade-out {
    animation: fadeOut 3s forwards;
  }  